body {
  background-color: lightgrey;
} 

#outcome_r, #outcome_l {
  display: none;
}


.problem_set {
  margin-left:auto;
  margin-right:auto; 
  display:block;
}


text {
 pointer-events: none;
 -moz-user-select: none;
 -webkit-user-select: none;
 -ms-user-select: none;
 user-select: none;font-size: 3vw; 
}

/*@media (max-width: 400px) {*/
  /*text {*/
    /*font-size: 20px;*/
  /*}*/
/*}*/
